header{
    position: relative;
}
aside{
    position: relative;
}
article{
    position: relative;
}
.list-group-item:hover{
    color: white; background-color: black;
}
.card:hover{
    border: 2px solid brown;
}

footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}

footer p>span {
    color: #ff512f;
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer .input-group .input-group-text {
    background: var(--bggradient);
    border: none;
}

footer .column i {
    color: #dd2476;
}


/* It is Adjacent sibling combinator */

footer .column i+i {
    padding: 0 0.5em;
}