<article class="col-sm-9">
    <div class="row pb-2">
        <div class="col-sm-6" ng-repeat="sub in cacmonhoc|orderBy:'Name'|limitTo:pageSize:batdau">
          <a href="#!tracnghiem/{{sub.Id}}/{{sub.Name}}">
            <div class="card mt-2 text-center">
              <div class="card-body">
                  <img src="images/logos/{{sub.Logo}}" class="card-img-top w-75 mt-2">
              </div>                       
              <div class="card-footer font-weight-bold" >
                {{sub.Name|uppercase}}
              </div><!--card-->
              </blockquote>
            </div>
          </a>
        </div>
    </div>
    <div class="text-center pt-3 ">
      <button class="prevtab btn btn-dark text-white" ng-click="trangdau()">First</button>
      <button class="prevtab btn btn-dark text-white" ng-click="prev()">Prev</button>
      <button class="nexttab btn btn-dark text-white" ng-click="next()">Next</button>
      <button class="nexttab btn btn-dark text-white" ng-click="trangcuoi()">Last</button>
  </div>            
</article>
<!---->
<aside class="col-sm-3 p-0">               
    <div class="card mt-2 ml-n2 mr-n2 h-auto">
        <div class="card-header"><i class="fas fa-list"></i> Danh Mục Môn Học</div>
        <div class="card-body p-0">
            <ul class="list-group text-dark">
              <li class="list-group-item" ng-repeat="sub in cacmonhoc|orderBy:'Name'"><a href="#!tracnghiem/{{sub.Id}}/{{sub.Name}}">{{sub.Name|uppercase}}</a></li>
            </ul>
        </div>
    </div>
</aside>